*{ margin: 0; padding:0; box-sizing: border-box;}

.site-header{
  position: relative;
  border:1px solid tranparent;
  width: 100%;
  height:100%;
  /*background:linear-gradient(34deg, #00c6a7, #1e4d92);*/

  background-size:contain;

}
.topping{
  text-align: center;
  background: linear-gradient(180deg, #2d3230, #0d0e0d);
  padding: 25px;
  color: #EEE8AA;

}
.fom{

  width: 50%;
  left: 45px;
  position: relative;
  font-size: 25px;
  color: #EEE8AA;
  clip-path: polygon(20%, 20%, 20%, 20%, 20%, 20%, 20%, 20%);
  background: tranparent;
}

.fom input{
  width:100%;
  margin-bottom: 20px;
  border:transparent;
  border-bottom:1px solid #fff;
  background:transparent;
  outline:none;
  height:35px;
  color: white;
  font-size: 24px;

}



.fom label {
  color:whitesmoke;
  background:transparent;
  padding:8px;
  border-bottom:1px solid #fff;
  outline:none;
  font-size: 22px;
  margin: 5px;
  border-bottom: none;
  display:inline-flex;
  padding-left: 3em;
  border-radius: 10em;
  margin-right: 5em;
  text-indent:35px;


}



.button{
  background:linear-gradient(57deg, #00c6a7, #1e4d92);
  font-size:24px; font-weight:bold ;text-transform:uppercase; padding:20px 40px;border-radius:20px;
  color: black;

}

.button:hover{
  background:linear-gradient(57deg, #1e4d92, #00c6a7);
}
